## you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30139"
endpoint_add_udp "0.0.0.0:30139"

sv_scriptHookAllowed 0

# change this
rcon_password GTFX1234

sv_hostname "^3HyperionNetwork[DK] ^0[WHITELIST] ^4SERVER 1 ^0[1.1.0] | Discord: https://discord.gg/aNfKRvb"

# loading a server icon (96x96 PNG file)
load_server_icon hello.png

# convars for use from script
set ipwhitelist "0"
set blockotherip "0"
set servernumber "1"
set socket_port "30121"
sets banner_detail "http://byhyperion.net/graphics/gtav/banner.png"
sets banner_connecting "http://byhyperion.net/graphics/gtav/banner.png"
set hp_queue_config "resources/[core]/hp_q/queueSettings.yml"


# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

#Clienter online
sv_maxclients 32

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace builtin.everyone command.run deny
add_ace builtin.everyone command.crun deny
add_principal identifier.steam:110000107838782 group.admin # add the admin to the group

# hide player endpoints in external log output
sv_endpointprivacy true

# start resources
exec server_resources.cfg

# Live map ONLY on server 1
#start map1

# choose what map to load, keep to make it only use the default map
map fivem-map-skater