*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.console{
  background-color: white;
  color: red;
  font-weight: bold;
}

p, h1, h2, h3 {
  font-family: Roboto;
}

/* menu */

/* .menu{ */
  /* background-color: rgba(0,0,0,0.75); */
  /* color: white; */
  /* width: 320px; */
  /* height: 53%; */
  /* position: fixed; */
  /* top: 250px; */
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  /* font-family: Roboto; */
/* } */

.menu{
  background-color: rgba(0,0,0,0.3);
	color: white;
    height: 47.6%;
    width: 300px;
	margin-left: -50px;
	margin: 25px; 
	align-content:center;
	position: fixed;
	top: 12%;
	left: 6%;
	bottom:0px;
	margin-top: 12%;
	margin-left: -100px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-family: Roboto;
	border-radius: 5px 5px 5px 5px;
	/* text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; */
}


.menu_description{
  background-color: rgba(0,0,0,0.60);
  border-radius: 0x 5px 5px 0px;
  color: white;
  position: absolute;
  padding: 9px;
  font-size: 1.25em;
  max-width: 500px;
  font-family: Roboto;
}

.menu h1{
  background-color: rgba(255,0,0,0.60);
  color: white;
  text-align: center;
  font-size: 1.6em;
  font-family: Roboto;
  padding: 6px;
  border-radius: 5px 5px 0px 0px;
  text-shadow: 0px 0 0 #000, -0px 0 0 #000, 0 0px 0 #000, 0 -0px 0 #000, 0px 0px #000, -0px -0px 0 #000, 0px -0px 0 #000, -0px 0px 0 #000;
}

.choices{
  overflow-y: scroll;
  overflow-x: hidden;
}

.choices::-webkit-scrollbar{ 
  display: none; 
}

.choices > div{
  padding: 6px;
  font-size: 1.3em;
}

.choices .selected{
  background-color: rgba(255,255,255,0.4);
  border-radius: 0px 0px 5px 5px;
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
  font-family: Roboto;
}

/* apptitudes header*/
.apptitudesheader {
  font-size: 1.05 em;
  font-family: Roboto;
}

/* dynamic class progress bar */
.dprogressbar{
  position: relative;
  padding: 0;
  margin: 0;
}

.dprogressbar .inner{
  height: 100%;
  padding: 0;
  margin: 0;
}

.dprogressbar .label{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
  font-family: Roboto;
}

/* wprompt */
.wprompt{
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.wprompt h1{
  font-size: 1.1em;
}

.wprompt textarea{
  outline: none !important;
  background-color: rgba(0,0,0,0.75);
  border: 1px solid rgba(255,255,255,0.30);
  flex: 1;
  color: white;
  width: 100%;
  padding: 4px;
  resize: none;
  box-sizing: border-box;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 0.9em;
  font-style: italic;
  font-family: Roboto;
  padding: 3px;
}

/* request manager */
.request_manager{
  position: absolute;
  bottom: 50px;
  right: 10px;
  text-align: right;
  font-family: Roboto;
}

.request_manager div{
  margin-top: 10px;
}

.request_manager div > span{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(110,204,111);
  font-size: 1em;
}

.request_manager .no{
  color: rgb(219,70,70);
  font-size: 1em;
}

/* announce */

.announce{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  font-family: Roboto;
  color: white;
  display: none;
  opacity: 0.90;
}

